@page "/"
@model Chirp.Web.Pages.Controllers.PublicController
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div class="cheepbox">
            <h3>What's on your mind @Model.CurrentAuthorName ?</h3>
            <form method="post">
                <input style="float: left" type="text" asp-for="Text" />
                <input type="submit" value="Share" />
            </form>
        </div>
    }
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.CreatedDate</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
    <div class="pagination"> 

        @if (Model.CurrentPage > 1)
        {
            <a href="/?page=@(Model.CurrentPage - 1)">Previous</a>
        }
        
        @if (Model.Cheeps.Count() == 32)
        { 
            <a href="/?page=@(Model.CurrentPage + 1)">Next</a>
        }
    </div>
</div>
